@page "/"

<div class="w-75 mx-auto">
    <h3 class="py-1">Welcome to the SQL+ Getting Started Walkthrough</h3>
    <h4 class="py-1">Before you start</h4>
    <p>
        Make sure to follow the instructions in the "ReadMe.md" file in the root folder.
    </p>
    <p>
        After completeing these steps all pages should function correctly.
    </p>
    <h4 class="py-1">
        Exploring this project
    </h4>
    <p>
        This application illustrates calling the azure functions that use the services.
        <ol>
            <li><b>CustomerQuery</b> - Retrieves a paged set of customers</li>
            <li><b>CustomerSelect</b> - Retrieves a customer by customer id</li>
            <li><b>CustomerSave</b> - Inserts or updates a customer</li>
            <li><b>CustomerDelete</b> - Deletes an existing customer by customer id.</li>
        </ol>
    </p>
    <h4 class="py-1">
        Running and Testing
    </h4>
    <p class="py-1">
        You must set the startup projects to run this project in addition to the azure functions. 
        Right click on the solution, choose set configure startup projects, select multiple startup projects,
        then set GettingStarted.Blazor and GettingStarted.Blazor projects to start
    </p>
    <p class="py-1">
        You can put break points on the on the methods in the Pages/Customers.razor.cs and Pages/Index.razor.cs to see the services in action.
    </p>
    <p class="py-1">
        Try adding new customers with both valid and invalid data to see the behaviour of the various services and application of the tags.
    </p>
    <p>
        Check out more at the <a href="https://www.sqlplus.net" target="_blank">SQL+ Website</a>
    </p>
</div>