@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="w-75 mx-auto">
    <h3 class="py-1">Welcome to the SQL+ Getting Started Walkthrough</h3>
    <h4 class="py-1">Before you start</h4>
    <p>
        Make sure to follow the instructions in the "ReadMe.md" file in the root folder.
    </p>
    <p>
        After completeing these steps all pages should function correctly.
    </p>
    <h4 class="py-1">
        Exploring this project
    </h4>
    <p>
        This application illustrates.
        <ol>
            <li><b>CustomerQuery</b> - Retrieves a paged set of customers</li>
            <li><b>CustomerSelect</b> - Retrieves a customer by customer id</li>
            <li><b>CustomerSave</b> - Inserts or updates a customer</li>
            <li><b>CustomerDelete</b> - Deletes an existing customer by customer id.</li>
        </ol>
    </p>
    <h4 class="py-1">
        Running and Testing
    </h4>
    <p class="py-1">
        You can put break points on the "OnGet", "OnDelete"" and "OnPost" methods in the Index.cs and CustomerSave.cs pages to see the code in action.
    </p>
    <p class="py-1">
        Try adding new customers with both valid and invalid data to see the behaviour of the various services and application of the tags.
    </p>
    <p>
        Check out more at the <a href="https://www.sqlplus.net" target="_blank">SQL+ Website</a>
    </p>
</div>
